* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
    background-color: rgba(255, 250, 245, 1);
}
:root {
    --primary-color: rgba(0, 9, 88, 1);
    --accent-color: rgba(255, 91, 46, 1);
    --text-color-desc:rgba(101, 102, 137, 1);
    --text-color-sub-heading:rgba(94, 96, 133, 1);
    --bg-color: rgba(255, 250, 245, 1);
}

/* Common */
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Sora, sans-serif;
}
input, select, textarea, button {
    font-size: inherit;
    font-family: inherit;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
}
.btn {
    --height: 56px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    background-color: transparent;
    border: 1px solid currentColor;
    border-radius: 99px;
    transition: 0.25s;
}
.sub-heading {
    margin-bottom: 15px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 16px;
    color: var(--text-color-sub-heading);
}
.section__heading {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
    color: var(--primary-color);
}
.section__desc{
    margin-top: 24px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.85;
    color: var(--text-color-desc);
}
/* -------------------------------------------------------------------------------------------------- */

/* Header */
.header {
    padding: 26px 0;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list {
    display: flex;
}
.nav__link , .header__action_link{
    padding: 8px 16px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    color: var(--text-color-sub-heading);
    white-space: nowrap;
}
.nav__link.selected-link {
    color: var(--primary-color);
    font-weight: 600;
}
.nav__link:hover, .header__action_link:hover {
    text-shadow: 0 0 1px var(--primary-color);
    text-decoration: underline;
    text-underline-offset: 5px;
}

.header__btn{
    --height: 50px;
    min-width: 118px;
    font-weight: 600;
    color: var(--primary-color);
    font-size: 1.4rem;
}
.header__btn:hover {
    background-color: var(--primary-color);
    color: rgba(255, 255, 255, 1);
}
/* -------------------------------------------------------------------------------------------------- */

/* Hero */
.hero{
    margin-top: 74px;
}
.hero-inner{
    display: flex;
    align-items: center;
    gap: 120px;
}
/* Hero__right-side */
.hero__media{
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-bottom: 94px;
}
.img__wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 16px;
}
.pic1 {
    width: 388px;
    height: 488px;
    border: 3px solid rgba(255, 255, 255, 1);
    background-color: rgba(254, 153, 123, 1);
}
.pic2 {
    margin-bottom: -58px;
    margin-left: -24px;
    width: 186px;
    height: 244px;
    border: 2px solid rgba(255, 255, 255, 0.65);
    background-color: rgba(250, 167, 173, 1);
}
.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 16px;
}
.hero__img-dec {
    position: absolute;
    z-index: -1;
}
.dec-left {
    bottom: 10px;
    left: -58px;
}
.dec-right {
    top: 16px;
    right: -40px;
}
.pet-list {
    position: absolute;
    bottom: 0;
    left: 129px;
    background-color: rgba(255, 255, 255, 1);
    height: 156px;
    width: 250px;
    border-radius: 10px;
}
.hero-list__item {
    display: flex;
    padding: 18px 14px;
}
.list-item__thumb-wrap {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(247, 167, 12, 0.32);
    display: flex;
    justify-content: center;
}
.hero-list__item:nth-child(2) .list-item__thumb-wrap {
    background-color: rgba(101, 151, 194, 1);
}
.list-item__thumb {
    
    border-radius: 10px;
}
.list-item__column {
    margin-left: 20px;
}
.list-item__header {
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}
.list-item__skeleton {
    width: 118px;
    height: 4px;
    margin-top: 8px;
    background-color:rgba(0, 9, 88, 0.08);
    border-radius: 10px;
}
.divider {
    height: 2px;
    margin: 0 auto;
    width: 90%;
    border-radius: 99px;
    background-color: rgba(242, 242, 242, 1);
}
/* Hero__left-side */
.hero-content__heading {
    color: var(--primary-color);
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}
.hero-content__desc {
    margin-top: 24px;
    color: var(--text-color-desc);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.83;
}
.hero-content__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: rgba(255, 91, 46, 1);
    background-color: rgba(255, 250, 245, 1);
}
.content-row__btn {
    --height: 60px;

    gap: 10px;
    min-width: 189px;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 91, 46, 1);
}
.content-row__btn:hover {
    transform: translateY(-2px);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.content-row__link {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: underline;
}
/* -------------------------------------------------------------------------------------------------- */

/* About */
.about {
    margin-top: 138px;
    padding-bottom: 55px;
}
.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}
/* About 1 */
.about__heading, .about__desc {
    width: 444px;
}
.about__checklist{
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 16px;
}
.about-checklist__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.8rem;
    font-weight: 500;
}
.about-checklist__item::before {
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}
.about-checklist__item::after {
    position: absolute;
    content: url(/Assets/img/check.svg);
    top: 2px;
    left: 5px;
}
/* About 2 */
.about-col-2 {
    display: flex;
    position: relative;
}
.about__exp-frame {
    position: absolute;
    left: 0;
    top: 165px;
    padding: 26px 30px;
    background: rgba(91, 214, 226, 1);
    width: 136px;
    height: 156px;
    border-radius: 10px;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}
.exp-frame__icon {
    position: absolute;
    top: -32px;
    right: -32px;
}
.exp-frame__years {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.exp-frame__unit {
    margin-top: 14px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.about-exp__pic-wrap {
    margin-left: auto;
    position: relative;
    width: 494px;
}
.about-exp__pic-wrap::after {
    content:"";
    width: 494px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
}
.about-exp__pic-wrap::before {
    content: url(/Assets/img/about\ dec.svg);
    position: absolute;
    top: 157px;
    right: -51px;
    z-index: -1;
}
.about-exp__pic {
    display: block;
    width: 494px;
}
/* About 3 */
.about-col-3 .about-exp__pic-wrap::after {
    content:"";
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
}
.about-col-3 .about-exp__pic-wrap::before {
    content: none;
}
.about-col-3 .about-exp__pic-wrap {
    margin-left: 0;
    width: 458px;
}
.about-col-3 .about-exp__pic {
    width: 100%;
}
.about-dec {
    position: absolute;
}
.about-dec:nth-child(1) {
    top: 12px;
    right: 63px;
}
.about-dec:nth-child(2) {
    right: 13px;
    top: -16px;
}
.about-dec:nth-child(3) {
    right: -21px;
    top: 31px;
}
.about-dec:nth-child(4) {
    right: -33px;
    top: 275px;
}
.about-dec:nth-child(5) {
    right: 19px;
    bottom: 150px;
}
.about-dec:nth-child(6) {
    right: -42px;
    bottom: -55px;
}
/* About 4 */
.tab {
    margin-top: 52px;
}
.tab__menu {
    margin-bottom: 50px;
    display: flex;
    gap: 56px;
}
.tab-menu__item {
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    color: var(--primary-color);
    transition: 0.25s;
}
.tab-menu__item:hover {
    color: var(--accent-color);
    text-decoration: underline;
    text-underline-offset: 4px;
}
.tab__content {
    margin-bottom: 32px;
    max-width: 390px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
    color: var(--text-color-desc);
}
.tab__link {
    color: var(--accent-color);
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: underline;
}
/* -------------------------------------------------------------------------------------------------- */

/* Services */
.services {
    margin-top: 130px;
    padding: 68px 0 100px 0;
    background-color: rgba(255, 246, 237, 1);
}
.service-sub-heading, .service-heading {
    text-align: center;
}
/* Services Content */
.services__content-box {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 0.6fr 1fr 0.6fr;
    column-gap:72px;
}
.services__content-col {
    display: grid;
    row-gap: 24px;
}
.services__card {
    width: 294px;
    height: 208px;
    padding: 30px 28px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #FFF;
    transition: 0.25s;
}
.services__card:hover{
    transform: translateY(-2px);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    cursor: pointer;
}
.services-card__heading {
    position: relative;
    padding-left: 12px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}
.services-card__heading::before {
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    border-radius: 1px;
    background: linear-gradient(89.89deg, #FF5B2E 0.39%, #FFA187 100.29%);
    left: 0;
}
.services-card__desc {
    margin-top: 18px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
    color: rgba(101, 102, 137, 1);
}
.services-card__link-wrap {
    margin-top: auto;
    display: flex;
    gap: 6px;
}
.services-card__link {
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    color: rgba(52, 57, 106, 1);
    transition: 0.25s;
}
.services-card__link:hover {
    text-decoration: underline;
}
/* Services Center */
.services__center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services__pic-wrap {
    position: relative;
    z-index: 1;
    width: 440px;
    height: 610px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.services__pic-wrap::after {
    content: "";
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 108.14%);

}
.services__pic {
    position: absolute;
    display: block;
    width: 100%;
    display: block;
}
.services__btn {
    --height: 56px;

    min-width: 214px;
    margin-top: 45px;
    background-color: rgba(255, 246, 237, 1);
    border-color: var(--accent-color);
    color: var(--accent-color);
    transition: 0.25s;
}
.services__btn:hover {
    background-color: var(--accent-color);
    color: rgba(255, 246, 237, 1);
    transform: translateY(-4px);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
/* -------------------------------------------------------------------------------------------------- */

/* Staff */
.staff {
    margin-top: 130px;
}
.staff__sub-heading, .staff__heading{
    text-align: center;
}
.staff__list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}
.staff-thumb-wrap{
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}
.staff__thumb {
    display: block;
    width: 100%;
    border-radius: 130px;
    position: relative;
    z-index: 1;
}
.staff-thumb-wrap::after{
    position: absolute;
    bottom: 0;
    border-radius: inherit;
    content:"";
    width: 100%;
    height: 90%;
}
.staff-list__item:nth-child(1) .staff-thumb-wrap::after {
    background: rgba(144, 204, 255, 1);
}
.staff-list__item:nth-child(2) .staff-thumb-wrap::after {
    background: rgba(255, 153, 126, 1);
}
.staff-list__item:nth-child(3) .staff-thumb-wrap::after {
    background: rgba(250, 191, 62, 1);
}
.staff-list__item:nth-child(4) .staff-thumb-wrap::after {
    background: rgba(91, 214, 226, 1);
}

.staff-thumb-wrap::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: calc(100% + 32px);
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.staff-list__item:nth-child(1) .staff-thumb-wrap::before {
    background-image: url(/Assets/img/decstaff1.svg);
    background-position: bottom;
}
.staff-list__item:nth-child(2) .staff-thumb-wrap::before {
    background-image: url(/Assets/img/decstaff2.svg);
    background-position: 0 16px;
}
.staff-list__item:nth-child(3) .staff-thumb-wrap::before {
    background-image: url(/Assets/img/decstaff3.svg);
    background-position: bottom;
}
.staff-list__item:nth-child(4) .staff-thumb-wrap::before {
    background-image: url(/Assets/img/decstaff4.svg);
    background-position: 0 16px;
}
.staff-list-item__sub-heading {
    margin-top: 34px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    color: var(--text-color-sub-heading);
}
.staff-list-item__heading {
    margin-top: 14px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    color: var(--primary-color);
}
.staff__btn-wrap {
    display: flex;
    align-items: center;
    margin-top: 48px;
}
.staff__btn {
    --height: 56px;

    color: var(--accent-color);
    min-width: 193px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.25s;
}
.staff__btn:hover {
    background-color: var(--accent-color);
    color: rgba(255, 246, 237, 1);;
    transform: translateY(-4px);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
/* -------------------------------------------------------------------------------------------------- */

/* Pricing */
.pricing {
    margin-top: 130px;
    padding: 86px 0;
    background: rgba(255, 246, 237, 1);
}
.pricing__heading, .pricing__desc {
    text-align: center;
}
.pricing__desc {
    max-width: 709px;
    margin-left: auto;
    margin-right: auto;
}
.pricing__sale-btn {
    margin-top: 38px;
    position: relative;
}
.pricing__btn-wrap {
    display: flex;
    justify-content: center;
}
.pricing-switch-label {
    display: flex;
    min-width: 276px;
    justify-content: space-around;
    border: solid 1px var(--accent-color);
    border-radius: 39px;
    user-select: none;
    cursor: pointer;
}
.monthly-pricing, .yearly-pricing {
    display: flex;
    justify-content: center;
    line-height: 56px;
    width: calc(100% / 2 + 80px);
    height: 100%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--accent-color);
    border-radius: inherit;
}
.pricing__switch-input:checked +.pricing-switch-label .yearly-pricing,
.pricing__switch-input:not(:checked) +.pricing-switch-label .monthly-pricing{
    background-color: var(--accent-color);
    color: rgba(255, 255, 255, 1);
}
.pricing__sale-icon {
    position: absolute;
    top: -10px;
    right: 29%;
}
.pricing__opt-list {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    gap: 44px;
}
.pricing-card {
    padding: 30px 28px;
    width: 302px;
    height: 465px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    transition: 0.25s;
}
.pricing-card:hover {
    transform: translateY(-4px);
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}
.pricing-card:hover .pricing__btn:hover {
    color: rgba(255, 255, 255, 1);
    background-color: var(--accent-color);
}
.pricing-card__rank {
    color: var(--accent-color);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}
.pricing-card__care {
    font-family: Sora;
    margin-top: 8px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    color: rgba(63, 64, 101, 1);
}
.pricing-card__heading {
    margin-top: 24px;
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 1.03;
    color: var(--primary-color);
}
.pricing__btn {
    --height: 44px;

    position: relative;
    display: block;
    margin: 22px 0 24px 0;
    color: var(--accent-color);
    text-align: center;
}
.pricing-card__offer {
    margin-top: 18px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    color: rgba(101, 102, 137, 1)
}
.pricing-card__offer::before {
    content: url(/Assets/img/Vectorcheck.svg);
    margin-right: 14px;
}
/* -------------------------------------------------------------------------------------------------- */

/* Review */
.review {
    margin-top: 53px;
}
.review__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 44px;
}
.review__nav {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border: solid 1.5px rgba(255, 209, 196, 1);
    outline: none;
    border-radius: 50%;
    color: var(--accent-color);
    background-color: transparent;
    transition: 0.35s;
}
.review__nav:hover{
    border-color: var(--accent-color);
    color: rgba(255, 255, 255, 1);
    background-color: var(--accent-color);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    scale: 1.1;
}
.review__content-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 115px;
    flex-shrink: 0;
    overflow: hidden;
}
.review__center-block {
    overflow: hidden;
}
.review__list{
    display: flex;
    overflow: hidden;
}
.review__thumb-wrap {
    position: relative;
    width: 274px;
    flex-shrink: 0;
    border-radius: 137px;
}
.review__thumb-wrap::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 82%;
    background-color: rgba(255, 218, 84, 1);
    border-radius: inherit;
    bottom: 0;
}
.review__thumb {
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: inherit;
    display: block;
}
.review__content {
    max-width: 553px;
}
.review__quote {
    margin-top: 24px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.55;
    color: rgba(0, 0, 0, 1);
}
.review__author {
    margin-top: 34px;
    color: #282828;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}
.review__author::before {
    display: inline-block;
    transform: translateY(-4px);
    margin-right: 8px;
    content: "";
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 1);
}
.review__center-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dots-row {
    margin-left: auto;
    margin-right: auto;
}
.review__dots {
    margin-top: 56px;
    display: flex;
    gap: 8px;
}
.dot {
    width: 8px;
    height: 8px;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
}
.review__dot--activated {
    width: 24px;
    background-color: var(--accent-color);
    border-radius: 4px;
}
/* -------------------------------------------------------------------------------------------------- */

/* Blog */
.blog {
    margin: 130px 0;
}
.blog__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog__head-col {
    max-width: 350px;
    margin-right: 73px;
}
.blog__desc {
    margin: 0 0 24px 0;
}
.blog__link {
    min-width: 182px;
    color: var(--accent-color);
    border-color:var(--accent-color) ;
}
.blog__link:hover{
    border-color: var(--accent-color);
    color: rgba(255, 255, 255, 1);
    background-color: var(--accent-color);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.blog__list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
}
.blog__thumb-frame {
    width: 100%;
    padding: 24px 0 0 36px;
    background-color: rgba(144, 204, 255, 1);
    border-radius: 24px;
    border-bottom-right-radius: 0;
}
.blog__thumb {
    width: 100%;
    display: block;
}
.blog__date {
    display: inline-block;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.21;
    color: rgba(255, 255, 255, 1);  
    margin-bottom: 25px;
}
.blog__item-title {
    margin-top: 28px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.54;
    color: var(--primary-color);
}
.blog__item-brief {
    margin-top: 16px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
    color: rgba(101, 102, 137, 1);
}
.blog__item:nth-of-type(2) .blog__thumb-frame {
    background-color: rgba(255, 153, 126, 1);
}
.blog__item:nth-of-type(3) .blog__thumb-frame {
    background-color: rgba(91, 214, 226, 1);
}
/* -------------------------------------------------------------------------------------------------- */

/* Footer */
.footer {
    padding: 52px 0 48px 0;
    background-image: linear-gradient(to right, rgba(255, 246, 237, 1) 45%,transparent 45%);
}
.footer__inner {
    display: grid;
    grid-template-columns: 0.74fr 1fr;
    gap: 22px;
}
/* Left side */
.footer__form {
    margin-top: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 268px;
    height: 46px;
    border: 1px solid rgba(255, 91, 46, 0.25);
    border-radius: 23px;
    background-color: rgba(255, 255, 255, 1);
}
.footer__form-input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    padding: 0 22px;
}
.footer__form-btn {
    margin-right: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 46px;
    border-radius: 50%;
    border: none;
    flex-shrink:0;
    background-color: var(--accent-color);
    color: rgba(255, 255, 255, 1);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    transition: 0.7s;
}
.footer__form-btn:hover {
    scale: 1.1;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.footer__follow {
    margin-top: 68px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.1;
    color: var(--primary-color);
}
.footer__social-list {
    margin-top: 16px;
    display: flex;
    gap: 16px;
}
.footer__social-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
    transition: 0.25s;
}
.footer__social-frame:hover {
    scale: 1.1;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
/* Right side */
.footer__right-wrap {
    display: grid;
    padding-left: 129px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'col-1 col-2 '
    'col-3 col-4 ';
    row-gap: 58px;
}
.footer__category {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.11; 
    margin-bottom: 14px;
}
.footer__link {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2;
    color: rgba(101, 102, 137, 1);
}
.footer__link:hover {
    text-decoration: underline;
    text-shadow: 0 0 1px var(--primary-color);
}
.disclaimer {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.16;
    color: rgba(101, 102, 137, 1);
}
